
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Form Basic</h4>
        <div class="ms-auto text-end">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Library
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-0">
          <form action="/change_password" class="form-horizontal" method="post" >
            <div class="card-body">
              <h4 class="card-title">Personal Info</h4>

<!-- ---------------------------------PASSWORD------------------------------- -->

              <div class="form-group row">
                <label for="fname" class="col-sm-3 text-end control-label col-form-label">Enter Old <br>Password</label>
                <div class="col-sm-9">
                  <input type="Password" class="form-control" name="old_password" id="Password" placeholder="Enter Old Password Here"/>
                </div>
              </div>

              <div class="form-group row">
                <label for="fname" class="col-sm-3 text-end control-label col-form-label">Enter New Password</label>
                <div class="col-sm-9">
                  <input type="Password" class="form-control" name="new_password" id="Password" placeholder="Enter New Password Here"/>
                </div>
              </div>

              <div class="form-group row">
                <label for="fname" class="col-sm-3 text-end control-label col-form-label">Enter Conform Password</label>
                <div class="col-sm-9">
                  <input type="Password" class="form-control" name="conf_password" id="Password" placeholder="Enter conform Password Here"/>
                </div>
              </div>

<!-- ---------------------------------SUBMIT------------------------------- -->

            </div>
            <div class="border-top">
              <div class="card-body bg-white">
                <input type="submit" value="Register" name="submit" class="btn btn-primary">
              </div>
            </div>
          </form>
        </div>
      </div>
  
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Container fluid  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  